.general-content {
  margin-bottom: 20px;
  display: flex;
}

.general-content-left {
  border: 1px solid #bcbcbc;
}

.general-content-right {
  margin-left: auto;
  border: 1px solid #bcbcbc;
  align-self: flex-start;
}
