.menu-block {
  margin-bottom: 10px;
}

.menu-block-title {
  min-height: 42px;
  margin: 0;
  padding: 5px 10px;
  color: #fff;
  background-color: #f26e20;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: #fff;
  }
  &:not(.collapsed) {
    background-color: #24404d;
  }
  &:hover {
    background-color: #24404d;
  }
}

.menu-block-content {
  ul {
    padding-top: 7px;
    line-height: 1.1;
    ul {
      padding-top: 10px;
    }
  }
  li {
    margin-bottom: 15px;
    li {
      margin-bottom: 5px;
    }
  }
}

.panel-body {
  padding-top: 10px;
}

.panel-body ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  a {
    font-weight: bold;
  }
  li li a {
    font-weight: normal;
  }
}
