@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (min-width: 768px) {
  .header-info {
    max-width: 79%;
  }
  .header-logo {
    width: 21%;
  }
  .footer-block {
    width: calc(100% / 3);
  }
}

@media (min-width: 993px) {
  .general-content-left {
    width: 78%;
    flex: 1;
  }
  .general-content-right {
    width: 20%;
    margin-left: 10px;
    padding: 10px 10px 0;
  }
  .header-panel-support__group {
    .form-control {
      max-width: 230px;
      &:last-of-type {
        margin-left: 30px;
        margin-right: 30px;
      }
    }
  }
}

@media (min-width: 1255px) {
  .header-top {
    padding-left: 30px;
  }
  .header-pre-title {
    padding-left: 30px;
    padding-right: 30px;
  }
  .general-content-left {
    padding: 25px 30px;
  }
  .footer-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

//**************************************************

@media (max-width: 1255px) {
  .container,
  .header-pre-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .general-content-left {
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .header-panel-contact {
    max-width: 160px;
  }
    
    .general-content {
    flex-wrap: wrap;
  }
  .general-content-left {
    width: 100%;
    order: 1;
  }
  .general-content-right {
    width: 100%;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .panel-group {
    display: flex;
    flex-wrap: wrap;
  }
  .menu-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header-panel-support {
    padding-top: 10px;
    .form-control {
      margin-bottom: 10px;
    }
  }
  .header-panel-support__group {
    margin-right: 20px;
    flex-direction: column;
  }
  .header-panel-support__form input[type="submit"] {
    align-self: stretch;
    margin-bottom: 10px;
  }
  .header-panel-contact {
    align-self: stretch;
  }
}

@media (max-width: 767px) {
  .header-top {
    flex-direction: column;
  }
  .header-info {
    width: 100%;
    margin-bottom: 0;
    order: 1;
  }
  .header-logo {
    padding-top: 25px;
  }
  .header-panel-contact {
    display: none;
  }
}

@media (max-width: 575px) {
  .header-panel-support__form {
    flex-direction: column;
  }
  .header-panel-support__group {
    width: 100%;
    margin-right: 0;
  }

  .menu-block {
    width: 100%;
  }

  .footer-inner {
    flex-direction: column;
    .footer-block:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 450px) {
  .header-panel-support {
    flex-direction: column;
  }
  .header-panel-support__form {
    width: 100%;
  }
  .header-panel-phone {
    padding-left: 0;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .menu-block {
    width: calc(100% / 2);
  }

  .footer-block {
    width: calc(100% / 2);
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .menu-block {
    width: calc(100% / 3);
  }
}

@media (min-width: 768px) and (max-width: 1255px) {
  .header-top {
    padding-left: 15px;
  }
}
